# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
[Bb]uild/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Cache
*.cache
*.config
*.lock.json

# Publish folders
publish/
artifacts/

# ASP.NET
appsettings.Development.json
appsettings.Local.json
appsettings.Staging.json
appsettings.Production.json

# Others
*.db
*.sqlite
*.sqlite3

# Rider
.idea/

# VS Code
.vscode/

# System
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Mac OS
.DS_Store
